.field {
    width: 253px;
    margin: 10px auto;
    border: 1px solid gray;
    height: 50px;
    text-align: center;
    font-size: 46px;
    letter-spacing: 15px;
}
.numbers {
    width: 280px;
    margin: 10px auto;
}
.btn {
    padding: 15px 30px;
    margin: 0 10px 5px;
    cursor: pointer;
}